.mainContainer {
  height: 80vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f6f6f6;
  justify-content: center;
}
.dataContainer {
  width: 40%;
  height: 100%;
  overflow-y: scroll;
}
.dataContainer::-webkit-scrollbar {
  display: none;
}

.input {
  border-radius: 0.4rem;
  background-color: #f4f4f4;
  width: 100%;
  font-size: 1rem;
  border: 2px #4267b2 solid;
  height: 100%;
}

.button:active {
  transform: scale(0.98);
}
.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
}
