.formContainer {
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e3e3e3;
}

.input {
  background-color: transparent;
  border-radius: 0.4rem;
  color: black;
  width: 90%;
  font-size: 1rem;
}

.button:active {
  transform: scale(0.98);
}

.a {
  text-decoration: none;
  font-weight: bold;
}
